#tab ,tr,td {
    border: 1px solid black;
  border-collapse: collapse;
background-color:#CDC2AE;
font-size: x-large;
margin-left : 30px;
margin-right: 30px;
text-align: center;

}
#page{
  background-color:#C2DED1;

}
#title{
  font-size: xx-large;
  color: #354259;
}
#formID{
  font-size: x-large;
  color:#354259 ;
}
#foodName{
  font-size: x-large;
  color:#354259 ;
}
#type{
  font-size: x-large;
  color:#354259 ;
}
#price{
  font-size: x-large;
  color:#354259 ;
}